body {
    background: #fffef7;
}
.view{
    width:700px;
    padding:30px;
    margin:40px auto;
    background: #f8f8f7;
    border-radius: 10px;
    -webkit-border-radius:10px;
    -moz-border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.13);
    -moz-box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.13);
    -webkit-box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.13);
    text-align: center;
}
/* Style the search field */
form.example input[type=text] {
    padding: 10px;
    font-size: 10px;
    border: 1px solid grey;
    float: left;
    width: 35%;
    background: #f1f1f1;
}

/* Style the submit button */
form.example button {
    float: left;
    width: 8%;
    padding: 10px;
    background: #2196F3;
    color: white;
    font-size: 10px;
    border: 1px solid grey;
    border-left: none; /* Prevent double borders */
    cursor: pointer;
    margin-bottom: 5px;
}

form.example button:hover {
    background: #0b7dda;
}

/* Clear floats */
form.example::after {
    content: "";
    clear: both;
    display: table;
}
table {
    width: 650px;
    border-collapse: separate;
    border-spacing: 0;
    color: #4a4a4d;
    font: 14px/1.4 "Helvetica Neue", Helvetica, Arial, sans-serif;
}
th,
td {
    padding: 10px 15px;
    vertical-align: middle;
}
thead {
    background: #395870;
    background: linear-gradient(#49708f, #293f50);
    color: #fff;
    font-size: 11px;
    text-transform: uppercase;
}

tbody tr:nth-child(even) {
    background: #f0f0f2;
}
td {
    border-bottom: 1px solid #cecfd5;
    border-right: 1px solid #cecfd5;
}
td:first-child {
    border-left: 1px solid #cecfd5;
}

tfoot {
    text-align: -moz-center;
}
tfoot tr:last-child {
    background: #f0f0f2;
    color: #395870;
    font-weight: bold;
}



